header {
    height: 450px;
    background-image: url(../images/bg-pattern-intro.svg), linear-gradient(to right ,hsl(13, 100%, 72%),hsl(353, 100%, 62%) );
    background-position: center;
    border-bottom-left-radius: 100px;
    color: hsl(0, 0%, 100%);
}
.header-content {
    height: inherit;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
nav {
    width: 100%;
    padding: 2% 4% !important;
}
header nav a {
    color: hsl(0, 0%, 100%);
}
header nav a:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: underline !important;
}
header .navbar-brand {
    padding-right: 40px;
}
header nav>div {
    align-self: flex-end;
}
.btn1 {
    border-radius: 30px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    font-weight: 600;
}

.btn1:hover {
    background-color: hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
}

.btn2 {
    border-radius: 30px;
    background-color: hsl(356, 100%, 66%);
    border-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}
.btn2:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
}
.section1 {
    background-image: url(../images/illustration-editor-desktop.svg);
    background-position-x: 120%;
    background-position-y: center;
    background-size: 50%;
    background-repeat: no-repeat;
    color: hsl(207, 13%, 34%);
}
section .hideImage {
    display: none;
}

.section2 {
    background-image: url(../images/illustration-phones.svg), linear-gradient(to right ,hsl(237, 17%, 21%),hsl(237, 23%, 32%) );
    background-position-y: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    color: hsl(240, 2%, 79%);
}
.section2 h1 {
    color: hsl(0, 0%, 100%);
}

.section3 {
    background-image: url(../images/illustration-laptop-desktop.svg);
    background-position-x: -40%;
    background-position-y: center;
    background-size: 60%;
    background-repeat: no-repeat;
    color: hsl(207, 13%, 34%);
}

.section1 h1, .section1 h3, .section3 h3 {
    color: hsl(208, 49%, 24%);
}

section {
    padding: 100px 0;
}
section h1 {
    padding-bottom: 6%;
}
section h3 {
    margin-bottom: 4%;
}

footer {
    padding: 6% 0;
    background-color: hsl(240, 10%, 16%);
    color: hsl(240, 2%, 79%);
}
footer a {
    color: hsl(240, 2%, 79%);
}
footer a:hover {
    color: hsl(240, 2%, 79%);
    text-decoration: underline;
}

footer ul li:first-child {
    padding-bottom: 10%;
    color: hsl(240, 2%, 79%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    background-color: hsl(240, 10%, 16%); 
    color: hsl(240, 2%, 79%); 
    padding-bottom: 30px; 
}
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width: 426px) {
    .navbar-collapse {
        background: hsl(0, 0%, 100%);
        text-align: center;
        padding: 3%;
        border-radius: 5px;
    }
    .navbar-collapse a, .navbar-collapse a:hover {
        color: hsl(208, 49%, 24%);
    }
    .navbar-collapse li.show a, .dropdown-menu a {
        color: hsl(207, 13%, 34%);
    }
    .firstnav {
        border-bottom: 1px solid #ddd;
    }
    .navbar-nav {
        padding: 10px;
    }
    .navbar-nav li, .navbar-nav a {
        padding: 7px;
    }
    .dropdown-menu {
        text-align: center;
        background-color: #eee;
        border: 5px solid #eee;
    }
    ul .btn1 {
        background-image: linear-gradient(to right ,hsl(13, 100%, 72%),hsl(353, 100%, 62%) );
        color: hsl(0, 0%, 100%);
        width: 120px;
        align-self: center;
    }
    section .hideImage {
        display: block;
    }
    section img {
        width: 100%;
    }
    .section1, .section3 {
        text-align: center;
        background-image: none;
    }
    .section2 .hideImage {
        position: absolute;
        top: 1450px;
    }
    .section2 {
        background-image: linear-gradient(to right ,hsl(237, 17%, 21%),hsl(237, 23%, 32%) );
        padding-top: 300px;
        text-align: center;
    }
    footer {
        text-align: center;
    }
}